
html{
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}


/* Background */

.background {
    background-size: cover;
    margin: 0;
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
    .background {
        display: none;
    }
}

.background-phone{
background-size: cover;
margin: 0;
max-width: 100%;
}

@media only screen and (min-width: 800px) {
    .background-phone {
        display: none;
    }
}

/* Navbar */

.navbutton{
     position: absolute;
     top: 22px;
     left: 80%;
     margin-left: auto;
     margin-right: auto;
     font-size: 14px;
     
}

.navbuttonphone{
    margin-top: 20%;
}

header {
    top: 0;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;

}

.logo {
    margin: 10px 0;
    width: 70px;
    float: left;
    display: flex;
    z-index: 10;
    
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 60px;
        margin: 10px 0;
    }
}

.navbar-whole {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 0 15%;
    z-index: 3;
    background-image: url(./images/black-opacity60.png);
    
}


.navbar-whole.scrolled {
    background-image: url(./images/black-opacity90.png);
    transition: background-image 200ms linear;
}

.navbar-links {
    display: flex;
    gap: 1em;
    flex-grow: 1;
    padding-top: 30px;
    

}



li {
    list-style: none;
}

.a{
    color: white;
}

.menu {
    color: white;
    font-family: montserrat;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

@media only screen and (max-width: 900px) {
    .menu {
        display: none;
    }
}

.a:hover {
    text-decoration: none;
    color: rgb(189, 189, 189);

}

li:nth-child(5) {
    margin-left: auto;

}

/* Nav Toggle icon */

.toggle-icon {

    position: absolute;
    left: 80%;
    padding-top: 21px;
    cursor: pointer;
    z-index: 100;
    

}

.toggle-icon-click {
    float: right;
    padding-top: 25px;
    cursor: pointer;
    color: red;
}

@media only screen and (min-width: 900px) {
    .toggle-icon {
        display: none;
    }
}



.line1 {
    height: 3px;
    width: 25px;
    background-color:white;
    margin-top: 5px;
    
    

}

.line2 {
    height: 3px;
    width: 20px;
    background-color: white;
    margin-top: 5px;
    
}

.line3 {
    height: 3px;
    width: 15px;
    background-color:  white;
    margin-top: 5px;
    
    
}


/* Toggle */




.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 95%;
    z-index: 110;

    transform: translate(100%, 0);
    transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.toggle-click {

    transform: translate(0%, 0);
    transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

/* Toggle icon inside */

.toggle-icon-inside {
    position: absolute;
    float: right;
    right: 21%;
    cursor: pointer;
}

.line1inside {
    height: 3px;
    width: 25px;
    background-color: white;
    transform: rotate(-45deg);
    position: absolute;
    margin-top: 30px;
}


.line3inside {
    height: 3px;
    width: 25px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    margin-top: 30px;

}



.navbar-links-toggle {

    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 20px;
    margin-right: 20px;


}

.menu-toggle {
    color: white;
    float: right;
}

.a-toggle {
    color: white;
}

.a-toggle:hover{
    color: lightblue;
    text-decoration: none;
}

.menu-toggle-whole1 {
    margin-top: 90px;

}


@media only screen and (min-width: 900px) {
    .menu-toggle {
        display: none;
    }

    .toggle {
        display: none;
    }
}








/* Section 2 Cards */



.card1 {
    height: 300px;
    margin: 0;
    display: inline-block;
    margin: 15px 0 50px 0;
}

.card1:hover {
    height: 305px;
    margin-bottom: 0;

    box-shadow: 3px 3px 1px #ccc;
    -moz-box-shadow: 3px 3px 1px #ccc;
    -webkit-box-shadow: 3px 3px 1px #ccc;
    -khtml-box-shadow: 3px 3px 1px #ccc;
}



@media only screen and (max-width: 1024px) {
    .card1 {
        height: 150px;
        margin: 0;
        display: inline-block;
        margin: 30px 0 20px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .card1:hover {
        height: 160px;
        ;
        margin: 0;
        box-shadow: 3px 3px 1px #ccc;
        -moz-box-shadow: 3px 3px 1px #ccc;
        -webkit-box-shadow: 3px 3px 1px #ccc;
        -khtml-box-shadow: 3px 3px 1px #ccc;
    }

}

/* Dostava */

.dostava {
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
    background-color: black;
    color: white;
    padding: 15px 20px;
}



/* Section 4 - Cashback */

.coll {
    display: flex;
    background: linear-gradient(to right, rgb(218, 218, 218), rgb(152, 152, 152));
    padding: 30px 170px 40px 170px;
}

.cb-heading {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 50px;
    margin: 80px 0 0 0;
}


.cb-p {
    padding-right: 30px;
    float: left;
    font-size: 20px;
    font-family: 'Montserrat bold',
        sans-serif;
}

.cashback-photo {
    width: auto;
    padding: 10px 0 10px 60px
}

.cbbtn{
    margin-left: 10px;
}

@media only screen and (max-width: 900px) {
   
    .coll {
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
        padding: 30px 30px;
        max-width: 100%;
    }

    .cbbtn{
        margin-left: 5px;  
        margin-top: 10px; 
    }

    .cashback-photo {
        margin-bottom: 20px;
        max-width: 100%;
         display: block;
         margin-left: auto;
         margin-right: auto;
         

    }

     .cb-heading {
        margin: 20px auto;
     }
     
}




/* Section 4 - Social Media */

.social-media {
    margin: 40px 0 0 0;
    align-items: center;
}

.social-icons {
    margin: 20px auto;
    list-style: none;
}


.list {
    display: inline-block;
    margin: 10px 35px 0px 0;
}

.social-img {
    height: 40px;
    margin-bottom: 10px;
    
}

.social-img:hover {
    height: 45px;
    margin-bottom: 0px;
}






/* footer */

hr {
    margin: 0px 50px 0 50px;
    border-top: 0.5px solid grey;
}

.margintop{
    margin-top: 20px;
}

footer {
    margin: 0;
    background-color: white;
    padding: 20px;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 15px;
}








/* KONTAKT PAGE --------------------------------------------------------*/



/* map */

.kontakt-heading{
    margin-left: 190px;
    margin-bottom: 50px;
}

form{
    max-width: 80%;
    margin: auto;
}



#gmap_canvas {
    margin-top: 30px;
   max-width: 100%;
}


.card {
    position: absolute;
    left: 70%;
    top: 1050px;

}




@media only screen and (max-width: 900px) {
    .card {
        position: static;
        margin: auto;

    }

    .kontakt-heading{
        margin-top: 30px;
        margin-left: 30px;
    }
}




@media only screen and (min-width: 1900px) {
    .card {
        position: absolute;
        left: 1370px;
        top: 1170px;

    }
}




/* ZA NAS PAGE--------------------------------------------------------- */

.coll-za-nas {
    display: flex;
    padding: 30px 15%;   
}

@media only screen and (max-width: 900px) {
    .cb-heading-zanas {
        text-align: center;
        font-size: 30px;
    }

    .cb-p{
        text-align: center;
    }

    .coll-za-nas {
        flex-direction: column;
        padding: 30px 30px;
    }

    .cashback-photo {
        width: 100%;
        padding: 10px 0 10px 0px
    }
}



/* OSIGURUVANJE PAGE -------------------------------------------------------- */

.osiguruvanje{
    
    padding: 30px 170px;
}

#vozila{
    padding-top: 30px;
}

#imot{
    padding-top: 30px;
}


#lica {
    padding-top: 30px;
}

@media only screen and (max-width: 900px) {
    
    .osiguruvanje {
        
        margin: 0;
        padding: 30px 30px 0px 30px;
        text-align: center;
    }

    .os-heading {
        font-size: 35px;
    }
}



/* myWorld ************************************************************************* */



.myHeading{

    margin: 10px 10%;

}

.myP{
    margin: 30px 10%;
    font-size: 16px;
}

.cbbtnMY{
    margin-left: 10%;
}