@font-face {
  font-family: 'sp';
  src:  url('./fonts/sp.eot?e3ktp');
  src:  url('./fonts/sp.eot?e3ktp#iefix') format('embedded-opentype'),
    url('./fonts/sp.ttf?e3ktp') format('truetype'),
    url('./fonts/sp.woff?e3ktp') format('woff'),
    url('./fonts/sp.svg?e3ktp#sp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sp-"], [class*=" sp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sp' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sp-sp-logo:before {
  content: "\e900";
}
